<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .test {
      background: skyblue;
      height: 100px;
      clip-path: polygon(0 0, 0 50px, 300px 50px, 50% 50%, 0 0);
      cursor: pointer;
    }
    html,body {
      padding: 0;
      margin: 0;
    }
  </style>
</head>
<body>
  <div class="test"></div>
</body>
</html>