<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .container {
      width: 600px;
      display: table;
    }
    .left,.right {
      padding: 20px;
      width: 50%;
      display: table-cell;
      background: #bfa;
      vertical-align: middle;
      text-align: center;
    }
    .text {
      display: inline-block;
      text-align: left;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="left"><div class="text">测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1</div></div>
    <div class="right"><div class="text">测试</div></div>
    <p>111</p>
    <p>222</p>
  </div>
</body>
</html>